{{#imcTable data}}{{/imcTable}}
<form action="" method="post">
    <label>altura</label>
    <input id="altura" name="altura" />
    <label>peso</label>
    <input id="peso" name="peso" />
    <button type="submit">Calcular</button>
</form>
<hr />
{{imc}} : {{imcDescription}}